* {margin: 0;
padding: 0;}

ul li {list-style: none;
text-align: center;
height:80px;}


a {text-decoration: none;
    font-size: 20px;
    font-weight: bold;
color :black;
transition: width linear 2s ;
}


.container { 
   
    height  :900px;}

.intro{width : 100%;}

.intro h1{width :50%;
    height:80px;
float: left;}

.intro nav {width: 50%; 
    height: 80px;
    float: right;}

.intro nav ul li {width : 33.3333%;
    line-height:80px;
float:left;}

main{width: 100%;
clear:both;}

#mainPage{
   
    width: 100%;
}
